<h1>List of Employees</h1>


<% if employee_signed_in? %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Profile Picture</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
      </tr>
    </thead>
    <tbody>
      <% if @employees %>
        <% @employees.each do |employee|%>
          <tr>
            <td>
            <%= link_to image_tag(employee.profile_picture, {:style => "width:100px;"}), root_path%>
            </td>
            <td> <%= link_to employee.username, root_path %> </td>
            <td> <%= link_to employee.email, root_path %> </td>
            <td> <%= link_to employee.role, root_path %> </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

<% end %>
