<div class="card border-success mb-3" style="max-width: 100rem;">
  <div class="card-header">Assign material for <strong style="font-size: 20px"><%= @employee.email%></strong></div>
  <div class="card-body">
    <p class="card-text">
      <table class="table">
        <tbody>
          <% @materials.each do |material|%>
            <tr>
              <td><%= material.name %></td>
              <td>
                <%= link_to 'Add', root_path, :class => 'btn btn-success btn-sm'%>
              </td>
            </tr>
           <% end %>
        </tbody>
      </table>
      
    </p>
  </div>
</div>