

<div class="row">
  <div class="col-3">
    <div id="available-material">
      <%= render 'assign/list_material'%>
    </div>
  </div>
  <div class="col-9">
    <div id="list-employee">
      <%= render 'assign/list_employee'%>
    </div>
  </div>
</div>

    

