<h5>Questions in list</h5>
<% if @questions != []%>
  <% @questions.each do |question| %>
    <p class="question"><%= link_to question.question, view_question_in_list_path(question.id), remote: true%></p>
  <% end %>
<% else %>
  <p class="text-muted">No questions on list yet.</p>
<% end %>