@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
body{
   background-color: #f3f5f9;
   font-family: 'Josefin Sans', sans-serif;
}

.wrapper {
	.sidebar{
		width: 200px;
		height: 100%;
		background: #4b4276;
		padding: 30px 0px;
		position: fixed;

		h2{
			color: #fff;
			text-transform: uppercase;
			text-align: center;
			margin-bottom: 30px;
   			font-family: 'Josefin Sans', sans-serif;
   			font-size: 2rem;
		}
		.profile_section{
	      text-align: center;
	      background-color: #594f8d;
	      margin-bottom: 20px;
	      img{
	        width: 90%;  
	        padding: 10px;
	      }
	      a{
	      	border-top: 1px solid black;
	        border-bottom: 1px solid black;
	        font-size: 1.3rem;
	        padding: 5px;
	        display: block;
	        color: #bdb8d7;

	      }
	      a:hover{
	        text-decoration: none;
	        background-color: black;
	        color: white;
	      }
	    }

		ul{
			li{
				border-bottom: 1px solid #bdb8d7;
				border-bottom: 1px solid rgba(0,0,0,0.05);
				border-top: 1px solid rgba(255,255,255,0.05);
				
				a{
					padding: 15px;
					color: #bdb8d7;
					display: block;

					.fas{
						width: 25px;
					}
				}
			}
			li:hover{
				background-color: #594f8d;
				a{
					color: #fff;
				}
			}
	  }
	}
}


.app-container {

	align-items: stretch;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	max-width: 100rem;
	min-height: 100vh;
	padding: $base-spacing;


	.main {
	  margin-left: 200px; /* Same as the width of the sidenav */
	  padding: 0px 10px;
	}

	// @media screen and (max-height: 450px) {
	//   .sidenav {padding-top: 15px;}
	//   .sidenav a {font-size: 18px;}
	// }


}


