/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";


.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #d482e8;
  overflow-x: hidden;
  padding-top: 20px;

  .avatar{
    padding-left: 40px;

  }
  strong{
    padding: 15px 8px 6px 40px;
  }
	a{
  	padding: 15px 8px 6px 40px;
  	text-decoration: none;
  	font-size: 20px;
  	color: black;
  	display: block;
	}
	a:hover {
	  color: white;
	}
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  /*font-size: 28px; */
  /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.charts{
  #line_status, #bar_status, #area_status{
    display: none
  }
  #line_type, #bar_type, #area_type{
    display: none
  }
  #type_report{
    display: none
  }
  #charts{
    padding: 50px;
  }
  #buttons{
      width: 50%;
      height: 150px;
      margin: 0 auto;
      padding: 10px 0;
      align-items: center;
      justify-content: space-around;
      display: flex;
      float: none;
  }
}
#table-index{
  width: 30em;
  overflow-x: auto;
  white-space: nowrap;
}

textarea{
  font-size: 30px;
  width: 100%;

}
.num-input{
  width: 100%;
  font-size: 30px;
  padding: 20px;
  margin-bottom: 10px;
}

.radio-btn{
  font-size: 30px;
}

#choices-tbl{
  .col-5{
    margin: 10px;
    padding: 15px;
    background-color: yellow;

    div{
      margin: 5px;
    }
  }
}


