/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";

.main {
  margin-left: 200px;
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.charts{
  #line_status, #bar_status, #area_status{
    display: none
  }
  #line_type, #bar_type, #area_type{
    display: none
  }
  #type_report{
    display: none
  }
  #charts{
    padding: 50px;
  }
  #buttons{
      width: 50%;
      height: 150px;
      margin: 0 auto;
      padding: 10px 0;
      align-items: center;
      justify-content: space-around;
      display: flex;
      float: none;
  }
}

textarea{
  font-size: 1rem;
  width: 100%;
}
.num-input{
  width: 100%;
  // font-size: 30px;
  padding: 1rem;
  margin-bottom: 10px;
}

.radio-btn{
  font-size: 1rem;
}

#choices-tbl{
  .col-6{
    div{
      // margin: 5px;
    }
  }
  .text-field{
    width: 100%;
    margin-bottom: 10px;
    font-size: 20px
  }
  .form_submit{
    margin-bottom: 10px;
  }
}


// ______________________________________________________________________________________

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #f6f8fa;
}

.wrapper {
  .sidebar{
    width: 200px;
    height: 100%;
    background: #4b4276;
    padding: 30px 0px;
    position: fixed;

    h2{
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 30px;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 2rem;
    }


    .profile_section{
      text-align: center;
      background-color: #594f8d;
      margin-bottom: 20px;
      img{
        width: 90%;  
        padding: 10px;
      }
      a{
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        font-size: 1.3rem;
        padding: 5px;
        display: block;
        color: #bdb8d7;

      }
      a:hover{
        text-decoration: none;
        background-color: black;
        color: white;
      }
    }

    ul{
      li{
        border-bottom: 1px solid #bdb8d7;
        border-bottom: 1px solid rgba(0,0,0,0.05);
        border-top: 1px solid rgba(255,255,255,0.05);
        
        a{
          padding: 15px;
          color: #bdb8d7;
          display: block;

          .fas{
            width: 25px;
          }
        }
      }
      li:hover{
        background-color: #594f8d;
        a{
          color: #fff;
        }
      }
    }
  }
}
 

.q_answer{
  max-width: 230px;
  overflow-y: auto;
  width: 100%;
}
#list_title{
    background: #493d82;
    color: white;
    padding: 20px;
}


#questions-tbl{
  background: white;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
  table{
    th{
      font-size: 15px;
    }
  }
  .answer{
    padding-bottom: 20px;
    max-width: 350px;
    overflow-x: auto;
    display: block;
  }
}



#profile_area{
  padding: 30px 200px 10px 200px;
  .row{
    padding-bottom: 30px;
  }
  img{
    background: white;
    border-radius: 50%;
    width: 100%;
  }
  .col-8{
    padding-top: 30px;
    div{
      padding: 5px;
      span{
        margin-left: 100px;
        font-weight: bolder;
        font-size: 15px;
      }
    }
    .profile_name{
      font-size: 25px;
      font-weight: bold;
    }
    hr{
      margin: 0;
      padding: 0;
    }
    label{
      span{
        font-size: 0.9rem;
        margin-left: 55px;
      }
    }
  }
}



#question_area{
  padding: 20px 175px 20px 175px;
  td{
    width: 60%;
  }
  #form-area{
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    .card{
      font-size: 0.9rem;
      background: white;
      box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
      .card-header{
        text-align: center;
      }
    }
  }
}

#question_profile{
  padding: 0px;
}

#button_profile{
  padding: 0 200px 0 200px;
  hr{
    margin-bottom: 0;
  }
  label{
    font-size: 1.3rem;
  }
  .active_button{
    padding-top: 10px;
    border-top: 2px solid black;
  }

  #button_question{
    margin-right: 30px;
  }
  #button_material{
    margin-left: 30px;
  }
  a, a:hover{
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: black;
  }
}

.material_profile{
  padding: 20px 175px 20px 175px;
  .col-3{
    margin-bottom: 20px;
    .content{
      background: white;
      // padding: 30px;
      box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
      hr{
        margin: 0;
        padding: 0;
      }
      .material_name{
        font-size: 1rem;
        background: #3570ce;
        color: white;
      }
      .material_details{
        font-size: 0.8rem;
        span{
          font-size: 0.9rem;
        }
      }
      .material_details, .material_name{
        padding: 10px;
      }
    }
  }
}

#list_employee{
  padding: 0;
  margin: 0;
  .row{
    padding: 5px;
    margin: 0;
  }
  #left_content{
    padding: 0 10px 0 0;
    #home_item{
      box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2); 
      background: white; 
      min-height: 100px;
      padding: 20px;
      margin-bottom: 10px;
      img{
        border-radius: 50%;
        border: 1px solid silver;
      }
      .col-8{
        padding-left: 0;
      }
    }
    #email_homepage{
      font-size: 0.9rem;
    }
  }

  .col-3{
    #side_notif{
      position: -webkit-sticky;
      position: sticky;
      top: 20px;
    }
    .row{
      padding-bottom: 20px;
    }
    .col-8{
      padding-top: 10px;
    }
    padding: 0;
    div{
      img{
        border-radius: 50%;
        width: 100%;
        border: 1px solid silver;
      }
    }
    #homepage_question{
      box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
      min-height: 300px;
      background: white;
      padding: 30px;
      max-height: 80vh;
      overflow-y: auto;
      display: block;

      h5{
        border-bottom: 1px solid black; margin-bottom: 30px;
      }
      label{
        font-size: 0.9rem; border-bottom: 2px dotted #007bff;
      }
      div{
        width: 100%; border-bottom: 1px solid silver; margin-bottom: 10px
      }
      .unanswered{
        font-size: 0.5rem;
      }
      .answer{
        font-size: 0.9rem;
        padding-bottom: 20px;
        max-width: 100%;
        overflow-x: auto;
        display: block;
      }
      .question{
        margin-top: 10px;
        font-size: 0.9rem;
        padding-bottom: 10px;
        max-width: 100%;
        overflow-x: auto;
        display: block;
        border-bottom: 1px solid silver;
      }
    }
  }
}

#assign_list{
  .col-6{
    #profile{
      padding: 10px;
      width: 100%;
      margin-bottom: 20px;
      background: white;
      box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
      .col-5{
        padding: 40px 40px 10px 40px;
      }
      img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        border-radius: 50%;
        border: 1px solid silver;
      }
    }
  }
}
#assign_add{
  padding: 40px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
  background: white;
}

#choice_list{
  .col-6{
    #choice_item{
      box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
      background: white;
      padding: 40px;
      margin: 10px;
    }
  }
}

#question_view_in_list{
  #right, #left{
    padding: 10px;
    height: 85vh;
  }
  #question_item{
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
    background: white;
    padding: 20px;
    margin: 5px;
    height: 100%;
  }
  #included{
    overflow-x: auto;
    height: 100%;
  }
  .col-4{
    margin-bottom: 20px;
  }
}



